.questions {
    font-family: 'Mansalva', cursive;
}

h4 {
    font-family: 'Mansalva', cursive; 
}

h2 {
    font-family: 'Mansalva', cursive; 
}
h1 {
    font-family: 'Mansalva', cursive; 
}

h3 {
    font-family: 'Mansalva', cursive; 
}

.logo{
    background-image: "../assets/FriendFinder.png"
}